<a class="twitter" href="https://twitter.com/intent/tweet?text={{ site.domain_name }}{{ page.url }} - {{page.title}} by @{{ site.authorTwitter }}" title="Condividi &quot;{{page.title}}&quot; su Twitter, te ne sarò grato a vita :)">{% include logo-twitter.svg %} Tweet</a>

<a class="facebook" href="#" onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;" title="Condividi &quot;{{page.title}}&quot; su Facebook, te ne sarò grato a vita :)">{% include logo-facebook.svg %} Share</a>